.c-button {
  text-transform: uppercase;

  // Apply hover/focus styles
  @if $c-button-apply-hover-styles {
    &:hover,
    &:focus {
      opacity: 1.0;
      color: $color-state-information;
      border-color: $color-state-information;
      text-shadow: unset;
    }
  }
}
