//
// https://github.com/iissnan/hexo-theme-next/blob/master/source/css/main.styl
//

$theme_config = hexo-config("highlight_theme")


// Variables Layer
// --------------------------------------------------
@import "_vendor/variables_base";


// Mixins Layer
// --------------------------------------------------
@import "_vendor/mixins_base";


// Common Layer
// --------------------------------------------------

// Core CSS
@import "_vendor/base";

// Vendors
@import "_vendor/highlight";

// Components
@import "_vendor/pagination";


