@charset "UTF-8";

/**
 * CORE.
  *
   * N.B. this is all mandatory for the Scally framework.
    */

// Settings
@import "../../node_modules/scally/core/settings/typography";

@import "../../node_modules/scally/core/settings/spacing";

@import "../../node_modules/scally/core/settings/retina-resolution";

@import "../../node_modules/scally/core/settings/breakpoints";

@import "../../node_modules/scally/core/settings/widths";

$color-brand: rgb(61, 79, 93);
$color-primary: $color-brand;
$color-secondary: rgb(176, 202, 219);
// $color-secondary: lighten($color-brand, 10%);
@import "../../node_modules/scally/core/settings/colours";
$color-trivial: lighten($color-black, 50%);

@import "../../node_modules/scally/core/settings/positioning";

@import "../../node_modules/scally/core/settings/cosmetics";

// Functions
@import "../../node_modules/scally/core/functions/convert-px-to-em-rem";

@import "../../node_modules/scally/core/functions/math-helpers";

@import "../../node_modules/scally/core/functions/string-replace";

@import "../../node_modules/scally/core/functions/strip-unit";

@import "../../node_modules/scally/core/functions/tint-shade";

// Mixins
@import "../../node_modules/scally/core/mixins/convert-px-to-em-rem";

@import "../../node_modules/scally/core/mixins/font-size";

@import "../../node_modules/scally/core/mixins/gradients";

@import "../../node_modules/scally/core/mixins/media-queries";

@import "../../node_modules/scally/core/mixins/generate-at-breakpoints";

@import "../../node_modules/scally/core/mixins/generate-percentage-classes-at-breakpoints";

@import "../../node_modules/scally/core/mixins/retina-bg-image";

@import "../../node_modules/scally/core/mixins/target-browsers";

@import "../../node_modules/scally/core/mixins/target-headings";

@import "../../node_modules/scally/core/mixins/text-input-placeholder-colour.scss";

// Normalize
@import "../../node_modules/scally/core/normalize";

// Reset
@import "../../node_modules/scally/core/reset";

// Base
@import "../../node_modules/scally/core/base/root";

@import "../../node_modules/scally/core/base/abbreviation";

@import "../../node_modules/scally/core/base/forms";

@import "../../node_modules/scally/core/base/details";

@import "../../node_modules/scally/core/base/headings";
@import "_core/_headings.scss";

$hr-color: lighten($color-trivial, 30%);
@import "../../node_modules/scally/core/base/horizontal-rule";

$link-color: rgb(61, 146, 201);
//$link-color-hover: darken($link-color, 10%) !default;
$link-color-hover: rgb(61, 146, 201);
$apply-link-no-underline: true;
@import "../../node_modules/scally/core/base/links";

@import "../../node_modules/scally/core/base/media";

@import "../../node_modules/scally/core/base/paragraphs";

@import "../../node_modules/scally/core/base/print";

@import "../../node_modules/scally/core/base/viewport";

// Placeholders
@import "../../node_modules/scally/core/placeholders/bottom-spacing";


/**
 * LAYOUT.
  */

// Main container
@import "../../node_modules/scally/layout/l-container";

// Grid
@import "../../node_modules/scally/layout/l-grid";

@import "../../node_modules/scally/layout/l-grid-pull";

@import "../../node_modules/scally/layout/l-grid-push";

// Side-by-side
$l-side-by-side-apply-linear: true;
@import "../../node_modules/scally/layout/l-side-by-side";

@import "../../node_modules/scally/layout/l-side-by-side-alt";

// CSS3 columns
@import "../../node_modules/scally/layout/l-columns";


/**
 * OBJECTS.
  */

@import "../../node_modules/scally/objects/o-drop-down";

@import "../../node_modules/scally/objects/o-flexible-embed";

@import "../../node_modules/scally/objects/o-link-complex";

@import "../../node_modules/scally/objects/o-link-disguised";

@import "../../node_modules/scally/objects/o-list";

@import "../../node_modules/scally/objects/o-list-block";

@import "../../node_modules/scally/objects/o-list-inline";

@import "../../node_modules/scally/objects/o-arrow";

@import "../../node_modules/scally/objects/o-overlay";

@import "../../node_modules/scally/objects/o-table";

@import "../../node_modules/scally/objects/o-button";


/**
 * COMPONENTS.
  */

$c-button-background-color: transparent;
// $c-button-border-color: lighten($color-primary, 30%);
$c-button-border-color: $color-secondary;
$c-button-border-thickness: 2;
$c-button-apply-border: true;
$c-button-apply-rounded-corners: false;
$c-button-apply-group: true;
//$c-button-apply-hover-styles: false;
@import "../../node_modules/scally/components/c-button";
@import "_components/c-button";
@import "_components/c-nav-post";

@import "../../node_modules/scally/components/c-button-faux-link";


/**
 * UTILITIES.
  */

@import "../../node_modules/scally/utilities/u-clear-fix";

$u-text-apply-at-breakpoints: (lap, lap max);
$u-text-apply-at-breakpoints-for-align-center: true;
$u-text-apply-at-breakpoints-for-align-right: true;
@import "../../node_modules/scally/utilities/u-text";

@import "../../node_modules/scally/utilities/u-widths";

@import "../../node_modules/scally/utilities/u-alignments";

@import "../../node_modules/scally/utilities/u-toggle-visibility";

@import "../../node_modules/scally/utilities/u-momentum-scrolling";

@import "../../node_modules/scally/utilities/u-float";

@import "../../node_modules/scally/utilities/u-new-block-formatting-context";

@import "../../node_modules/scally/utilities/u-gpu-accelerated";

$u-position-apply-at-breakpoints-for-fixed: true;
@import "../../node_modules/scally/utilities/u-position";
@import "_utilities/u-position";

@import "../../node_modules/scally/utilities/u-display";

$u-spacing-apply-at-breakpoints: (lap, lap max);
$u-spacing-apply-classes-for-breakpoints: (".u-s-mr-huge", ".u-s-ms-large", ".u-s-me-huge");
@import "../../node_modules/scally/utilities/u-spacing";
@import "_utilities/u-spacing";

@import "../../node_modules/scally/utilities/u-overflow";

$u-hide-apply-at-breakpoints: (lap-large max);
$u-hide-apply-at-breakpoints-for-hide: true;
@import "../../node_modules/scally/utilities/u-hide";




/* My styles
   ========================================================================= */

@import "misc";
@import "hacks";
