if (post.tags && post.tags.length)
    span.u-s-mr-base.u-hide-up-to-lap-large
        !=partial('../svg', {title: 'tags', desc: 'tags icon', href: '/images/sprites.svg#tags'})
        span.c-button-group
            - post.tags.each(function (tag) {
                a(href!=url_for(tag.path)).c-button.c-button--secondary.c-button--tiny #{tag.name}
            - })
